<div data-region="khan-authenticate">
  <h4>Make sure you have logged into Khan Academy before starting this quiz.</h4>
  <p>Please log in using your <strong>@sequoiaschools.org</strong> email.
  <a class="btn btn-primary" href="kauth.php?id={{id}}">Log in</a>
</div>
