<div data-region="password-form">
  <h3>To attempt this quiz you must enter the password</h3>
  <form class="form-inline" action="" method="post">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
  </form>
  {{#msg}}
  <span style="color:red;">*{{msg}}</span>
  {{/msg}}
</div>
